.filter_application {
  position: absolute;
  top: 230px;
    right: 70px;
  width: 500px;
    height: 220px;
    z-index: 999;
}

.filter_application .close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
}

.filter_container {
  position: relative;
  z-index: 99;
  background: var(--lblack);
    height: 110px;
      padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
}

.filter_application:before {
   content: '';
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   background: url(http://ultraimg.com/images/Ho6hQWs.jpg) center no-repeat;
  background-size: cover;
    filter: blur(2px);
}

.filter_application:after {
  content: '';
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.filter_container .argueBtn{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: 40px;
}

.application {
  box-shadow: 0 0 10px #777;
  position: fixed;
  top: calc(50% - 100px);
    left: calc(50% - 200px);
  width: 500px;
    height: 220px;
    z-index: 999;
    padding-left: 0;
    border-radius: 5px;
}

.application .close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
}

.containerAlert {
    width: 500px;
  position: relative;
  z-index: 999;
  background: #fff;
    height: 220px;
      padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
}

.application:before {
   content: '';
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   background: url(http://ultraimg.com/images/Ho6hQWs.jpg) center no-repeat;
  background-size: cover;
    filter: blur(2px);
}

.application:after {
  content: '';
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
}
.containerAlert .argueBtn{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: 40px;
}
#not{
    position: relative;
    display: block;
    margin-right: 3px;
    background-color: white;
    border-color: var(--lblack);
    color: var(--lblack);
    border-style: solid;
    border-width: 1px;
    width: 100px;
}
#yes{
    position: relative;
    display: block;
    background-color: firebrick;
    color: white;
    margin-left: 3px;
    width: 100px;
}

#not:hover{
    background-color: #e8e8e8;
}
#yes:hover{
    background-color: #8c1c1c;
}

span{
    background-color: rgba(140, 28, 28, 0);

}