button{
    background-color: var(--black);
    color: var(--white);
    font-size: 10pt;
    border-radius: 6px;
    text-align: center;
    border: none;
    transition: 0.3s;
    margin-top: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button:hover{
    background-color: var(--lblack);
}
button:active {
    background-color: black;
}

#addCourse{
    border-color: var(--llblack);
    border-style: solid;
    border-width: 1px;
    width: 100%;
    color: var(--llblack);
    padding-left: 20px;
    padding-right: 20px;
}

#userBtn{
    margin-left: 10px;
}

.tagsBth{
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
}

.loginBtn{
    margin-top: 10px;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--llblack);
    background-color: rgba(0, 0, 0, 0);
    color: var(--llblack);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
