.navbar-toggler-icon{
    color: white;
    fill: var(--gray);
}

.naviconb{
    width: 25px;
    height: 25px;
}
.navicon{
    fill: #ff933c;
}
#homeBtn{
    color: white;
}

.editBtn{
    fill: #5e5e5e;
    width: 16px;
    height: 16px;
}
.deleteBtn{
    fill: #5e5e5e;
    width: 16px;
    height: 16px;
}

.stat{
    fill: var(--gray);
    color: var(--gray)
}
.stat svg{
    margin-top: 4px;
    margin-right: 3px;
}