@media (min-width: 480px) {
    :root{
        --margin-body: 50px 5vw;
        --height-header: 100px;
        --paddingTop-body: 60px;

        --h1-size: 16pt;
        --p-size: 14px;

        --name-input-size: calc(100% - 320px);

        --btn-size: 14px;
        --btn-width: auto;
        --btn-margin: 0px 0px 0px 10px;

        --reg-centrir: right;

        --card-width: 325px;
        --card-height: 220px;  

        --card-title: 14pt;
        --card-autor: 10pt;
        --card-categ: 10pt;
        --card-tegs: 9pt;
        --card-date: 12pt;

        --small-card-width: 160px;
        --small-card-height: 150px;  
    }
}
@media only screen and (max-device-width: 480px) {
    :root{
        --margin-body: 50px 1vw;
        --height-header: 300px;
        --paddingTop-body: 250px;

        --h1-size: 50pt;
        --p-size: 35pt;

        --name-input-size: calc(100% - 20px);

        --btn-size: 40px;
        --btn-width: calc(50% - 15px);
        --btn-margin: 20px 0px 20px 10px;

        --card-width: 70vw;
        --card-height: 25vh;  

        --small-card-width: 10vw;
        --small-card-height: 15vh;  

        --card-title: 40pt;
        --card-autor: 30pt;
        --card-categ: 25pt;
        --card-tegs: 25pt;
        --card-date: 25pt;
    }
}


@media (min-width: 480px) {
    :root{
        --in-btn: 14px;
        --reg-centrir: right;
    }
}

@media only screen and (max-device-width: 480px) {
    :root{
        --in-btn: 14px;
        --reg-centrir: center;
    }
}
