asgiref            
certifi            
charset-normalizer  
dj-database-url     
Django              
django-cors-headers 
django-heroku       
djangorestframework 
gunicorn            
idna                
Pillow              
pip                 
psycopg2            
pytz               
requests            
setuptools         
sqlparse            
urllib3           
wheel              
whitenoise
