asgiref
backports.entry-points-selectable
certifi
charset-normalizer
distlib
dj-database-url
Django
django-cors-headers
django-heroku
djangorestframework
filelock
gunicorn
idna
Pillow
pip
pipenv
platformdirs
psycopg2
pytz
requests
setuptools
six
sqlparse
urllib3
virtualenv
virtualenv-clone
wheel
whitenoise
