:root {
    --black: rgb(31, 31, 31);
    --lblack: #353535;
    --llblack: #cbcbcb;
    --gray: #AAAAAA;
    --lgray: #D3D3D3;
    --white: #F0F0F0;
    --lwhite: #FAFAFA;
    --lred: #b41b1b;
    --llred: #b22d2d;


    --c1: #d5dafa;
    --c2: #d2e6fd;
    --c3: #d7fcd7;
    --c4: #f8fccc;
    --c5: #fde6cf;
    --c6: #fdcfcc;
    --c7: #fdcaf2;
    --c8: #d1d5f8;
    --c9: #1F1F1F;

    --ch1: #c6cdfa;
    --ch2: #bfdaf8;
    --ch3: #c3fac3;
    --ch4: #f1f7ae;
    --ch5: #fcdab9;
    --ch6: #f8b8b3;
    --ch7: #fcb0eb;
    --ch8: #b7bef8;
    --ch9: #1f1b1b;

    --tc1: #7d8df8;
    --tc2: #68adfc;
    --tc3: #76df76;
    --tc4: #c5d140;
    --tc5: #e2a669;
    --tc6: #da726a;
    --tc7: #d667be;
    --tc8: #646ec9;
    --tc9: #ffffff;
}