#board{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 40%;
    right: 0px;
    color: var(--white);
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
}

.point{
    margin-bottom: 40px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.pointBtnl{
    margin-top: 2.5px;
    margin-left: 15px;
    width: 10px;
    height: 10px;
    background: #ffffff00;
    border-radius: 50%;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
}


.line{
    width: 2px;
    height: 42px;
    background-color: #fff;
}

#l1{
    position: fixed;
    top: calc(40% + 15px);
    right: 21px;
}
#l2{
    position: fixed;
    top: calc(40% + 72px);
    right: 21px;
}
#l3{
    position: fixed;
    top: calc(40% + 128px);
    right: 21px;
}