{% extends 'login/base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="row d-flex justify-content-center " id="inputData">
            <h1 class="title d-flex justify-content-center">Регистрация</h1>

            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 regLable">
                        Ваши данные:
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        {{ form.name }}
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        {{ form.surname }}
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-3">
                    <div class="col-md-4 regLable">
                        Ваша дата рождения:
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        {{ form.birth_date }}
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-3">
                    <div class="col-md-4 regLable">
                        Фото вашего профиля:
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        {{ form.profile_pic }}
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 d-flex justify-content-end">
                        <button class="loginBtn" type="submit">Завершить регистрацию</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}