<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% block style %}{% endblock %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{%  static 'main/img/logo_recycle.png' %}">
    <script src="{%  static 'main/js/index.js' %}"></script>
    <script src="{%  static 'landing/js/init.js' %}"></script>
</head>
<body>
    <header>
        <div id="logo" onclick="window.location.href = '/main';">
            <img src="{%  static 'landing/img/logo.png' %}" id="logo_img">
            <div id="words">COURSE SPACE</div>
        </div>

        <div class="search">

            <div id="input">
                <form action="{% url 'results' %}" method="get">
                    <div class="entry">
                        <input name="q"  type="text" id="name" placeholder="Поиск">
                     </div>
                </form>
            </div>

        </div>

        <div id="rightpart">
            <button id="addCourse" onclick="window.location.href = '{% url 'create_course' %}'">+ создать курс</button>
            <div id="user">
                <img src="https://img.icons8.com/material/24/ffffff/user-male-circle--v1.png" id="avatar"/>
                <div id="username" onclick="window.location.href = '{% url 'user_page' user.pk %}'">{{ user }}</div>
{#            <img src="https://img.icons8.com/ios-filled/25/ffffff/door-opened.png" id="exit"/>#}
            </div>
        </div>

    </header>

    <main>
        {% if categories %}
        <div class="List Min" id=Categories>
            <div class="cline" id="сl1"></div>

            <h1 onclick="window.location.href = '/main';">ВСЕ КУРСЫ</h1>
            <h1>КАТЕГОРИИ</h1>
            {% for cat in categories %}
                {% if cat.title == title %}
                    <div class="nav" id="c{{ cat.id }}" onclick="window.location.href = '{% url 'category' cat.pk %}'">
                        <div class="pointBtnSelect"></div>
                        <div class="courseTitleSelect">{{ cat.title }}</div>
                    </div>
                {% else %}
                    <div class="nav" id="c{{ cat.id }}" onclick="window.location.href = '{% url 'category' cat.pk %}'">
                        <div class="pointBtn"></div>
                        <div class="courseTitle">{{ cat.title }}</div>
                    </div>
                {% endif %}
            {% endfor %}
            <h1 onclick="window.location.href = '{% url 'search_course' %}'">НАЙТИ КУРС</h1>
        </div>

        {% endif %}
        {% block content %}

        {% endblock %}

        <section class="application" id="hidden_content" style="display:none;">
              <div class="container">
                <h2>Удаление курса!</h2>
                <p>Вы уверены, что хотите удалить курс? </p>
                  <div class="argueBtn">
                      <button id="not" onclick="toggle(hidden_content)">Нет</button>
                      <button id="yes" onclick="toggle(hidden_content)">Да</button>
                  </div>
              </div>
        </section>
    <script>
        function toggle(el) {
          el.style.display = (el.style.display == 'none') ? '' : 'none';
        }
    </script>
    </main>
</body>
</html>
