{% extends 'main/base.html' %}


{% block style %}
    {% load static %}
    <link rel="stylesheet" href=" {%  static 'main/css/main.css'%}">
{% endblock %}

{% block content %}
        <div class="List">
            <h1> </h1>
            {% for el in course%}
                <div class="card block" id="{{ el.id }}">
                <div class="lable">
                    <div class="text">
                        <div class="title">{{ el.title }}</div>
                        <div class="autor">Автор: {{ el.author }}</div>
                    </div>
                </div>

                <div class="desk">{{ el.description }}</div>
                <div class="categor">Категория: {{ el.category }}</div>
                <div class="tags"></br>
                    {% for tag in el.tags.all %}
                        <div>
                            {{ tag }}
                        </div>
                    {% endfor %}
                </div>
                <div class="date">{{ el.date }}</div>
                <div class="stat">
                    <img  src="https://img.icons8.com/material-rounded/24/000000/conference-background-selected.png"/>
                    <div class="usercount"> {{ el.users.all.count }}</div>
                    <div class="go">Начать курс</div>
                </div>
            </div>

            {% endfor %}
        </div>
{% endblock %}