{% extends 'main/base.html' %}


{% block style %}
    {% load static %}
    <link rel="stylesheet" href=" {%  static 'main/css/main.css'%}">
{% endblock %}

{% block content %}
    {% if courses %}
        <div class="List">
            <h1>Курсы по направлению "{{ title }}"</h1>
            {% for el in courses%}
            <div class="card block" id="{{ el.id }}" onclick="window.location.href = '{% url 'course' el.pk %}'">
                <div class="lable">
                    <div class="text">
                        <div class="title">{{ el.title }}</div>
                        <div class="autor">Автор: {{ el.author }}</div>
                    </div>
                    <div class="img">

                    </div>
                </div>
                <div class="desk">{{el.description|truncatewords:5}}</div>
                <div class="categor">Категория: {{ el.category }}</div>
                <div class="tags">Теги: </br>
{#                    {% for teg in el. %}#}
{#                    {% endfor %}#}
                    <div id="t1">
                        Тег #1
                    </div>
                    <div id="t2">
                        Тег #2
                    </div>
                    <div id="t3">
                        Тег #3
                    </div>
                    <div id="t4">
                        Тег #4
                    </div>
                    <div id="t5">
                        Тег #5
                    </div>
                    <div id="t6">
                        Тег #6
                    </div>
                </div>
                <div class="date">{{ el.date }}</div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>Курсов по категории "{{ title }}" ещё нет.</h1>
    {% endif %}
{% endblock %}