{% extends 'main/base.html' %}


{% block style %}
    {% load static %}
    <link rel="stylesheet" href=" {%  static 'main/css/main.css'%}">
{% endblock %}

<h1>Создание курса</h1>
{% block content %}
    <form action="{% url 'create_course' %}" method="post" id="create">
        {% csrf_token %}

        <div class="entry">
            <h1>Создание курса</h1>
            <div class="form-error">{{ form.non_field_errors }}</div>

            {{ form.title }}{{ form.category }}
            <div class="form-error">{{ form.category.errors }}</div>
            <div class="form-error">{{ form.title.errors }}</div>

            {{ form.description }}
            <div class="form-error">{{ form.description.errors }}</div>

            {{ form.tags }}

            <button type="submit" id="add_course">Добавить</button>
        </div>
    </form>
{% endblock %}