{% extends 'main/base.html' %}
{% block title %}Главная{% endblock %}

{% block style %}
    {% load static %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="rov">
            <h1>Категории:</h1>
            <div class="row justify-content-center">
                <div class="col  categCard" onclick="window.location.href = '{% url 'category' 1 %}'">
                    <div class="categIconSm">
                        <svg id="cat1" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                          <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm fs-6" id="catTitle1">
                        IT
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>

                <div class="col categCard" onclick="window.location.href = '{% url 'category' 2 %}'">
                    <div class="categIconSm">
                        <svg id="cat2" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-calculator" viewBox="0 0 16 16">
                          <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                          <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm fs-6" id="catTitle2">
                        Математика
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>

                 <div class="col categCard"  onclick="window.location.href = '{% url 'category' 3 %}'">
                     <div class="categIconSm">
                         <svg id="cat3" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-radioactive" viewBox="0 0 16 16">
                          <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1ZM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Z"/>
                          <path d="M9.653 5.496A2.986 2.986 0 0 0 8 5c-.61 0-1.179.183-1.653.496L4.694 2.992A5.972 5.972 0 0 1 8 2c1.222 0 2.358.365 3.306.992L9.653 5.496Zm1.342 2.324a2.986 2.986 0 0 1-.884 2.312 3.01 3.01 0 0 1-.769.552l1.342 2.683c.57-.286 1.09-.66 1.538-1.103a5.986 5.986 0 0 0 1.767-4.624l-2.994.18Zm-5.679 5.548 1.342-2.684A3 3 0 0 1 5.005 7.82l-2.994-.18a6 6 0 0 0 3.306 5.728ZM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm fs-6" id="catTitle3">
                        Физика
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col categCard"  onclick="window.location.href = '{% url 'category' 4 %}'">
                    <div class="categIconSm">
                        <svg id="cat4" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-arrow-through-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm fs-6" id="catTitle4">
                        Химия
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>

                <div class="col categCard"  onclick="window.location.href = '{% url 'category' 5 %}'">
                    <div class="categIconSm">
                        <svg id="cat5" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Zm8.252-6.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm fs-6" id="catTitle5">
                        Медицина
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>

                <div class="col categCard"  onclick="window.location.href = '{% url 'category' 6 %}'">
                    <div class="categIconSm">
                        <svg id="cat6" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                          <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
                          <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm  fs-6" id="catTitle6">
                        Языки
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col categCard"  onclick="window.location.href = '{% url 'category' 7 %}'">
                    <div class="categIconSm">
                        <svg id="cat7" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
                          <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                          <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm fs-6" id="catTitle7">
                        Искусство
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>

                <div class="col categCard"  onclick="window.location.href = '{% url 'category' 8 %}'">
                    <div class="categIconSm">
                        <svg id="cat8" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-egg-fried" viewBox="0 0 16 16">
                          <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          <path d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm fs-6" id="catTitle8">
                        Кулинария
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>

                <div class="col categCard"  onclick="window.location.href = '{% url 'category' 9 %}'">
                    <div class="categIconSm">
                        <svg id="cat9" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                    </div>
                    <div class="categTitleSm fs-6" id="catTitle9">
                        Прочее
                    </div>
                    <div class="categBottomBar">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h1>Популярные авторы:</h1>
            {% for author in top_authors %}
                <div class="authorCard col-md" onclick="window.location.href = '{% url 'user_page' author.pk %}'">
                    <div class="row d-flex justify-content-center">
                        {% if author.profile.profile_pic %}
                            <img class="topAuthorAvatarProfile" src="{{author.profile.profile_pic.url}}">
                        {% else %}
                            <img class="topAuthorAvatarProfile" src="{% static 'main/img/user96.png' %}"><br><br>
                        {% endif %}
                    </div>
                    <div class="row d-flex justify-content-center authorTitle">
                            {{ author.profile.name}} {{ author.profile.surname}}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
                <h1>Популярные курсы:</h1>
                {% for el in top_course%}
                    <div class="col-md-4 mb-2">
                        <div class="card block topCourse" id="{{ el.id }}">
                                <div class="cardHeader">
                                    <div class="author" onclick="window.location.href = '{% url 'user_page' el.author.user.pk %}'">
                                        {% if el.author.user.profile.profile_pic %}
                                          <img class="courseAuthorAvatarProfile" src="{{el.author.user.profile.profile_pic.url}}">
                                        {% else %}
                                          <img class="courseAuthorAvatarProfile" src="{% static 'main/img/user96.png' %}"><br><br>
                                        {% endif %}
                                        <div id="authorname">
                                             {{ el.author.user.profile.name }} {{ el.author.user.profile.surname }}
                                        </div>
                                        <div class="stat">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                              <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                                              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                            </svg>
                                            <div class="usercount">{% for c in count_users %}{% if c.course_id == el.pk %}{{ c.total }}{% endif %}{% endfor %}</div>
                                        </div>
                                    </div>
                                </div>

                            <div class="cardContainer"  onclick="window.location.href ='{% url 'course' el.pk %}'">
                                <div class="lable">
                                    <div class="text">
                                        <div class="title fs-3">{{ el.title }}</div>
                                    </div>
                                </div>
                                    <div class="desk fs-5">{{el.description|truncatewords:50}}</div>

                                <div class="tags"></br>
                                {% if title == "Главная" %}
                                    <div class="categTagTopCourse" id="categTag{{ el.category.pk }}">{{ el.category }}</div>
                                {% endif %}
                                    {% for tag in tags %}
                                        {% if tag.course.pk == el.pk %}
                                        <div>
                                            {{ tag.tag }}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            {% if title == 'Все курсы' %}
                                <div class="categoryLable" onclick="window.location.href = '{% url 'category' el.category.pk %}'">
                                    <div class="categor">
                                        <div class="pointBtn" id="l{{ el.category.pk }}"></div>
                                        <div class="categLableText">{{ el.category }}</div>
                                    </div>
                                </div>
                                <div class="categoryLableBottom">

                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}