{% extends 'main/base.html' %}
{% block title %}Главная{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href=" {%  static 'main/css/main.css'%}">
{% endblock %}

{% block content %}

        <div class="List" id="all">
        <h1>Каталог всех курсов</h1>
            <button class="tagsBth" onclick="toggleFilter(hidden_content_filter)">
                <img src="{% static 'main/img/filter.png' %}" width="15">
                Теги
            </button>
            {% for el in courses%}
                <div class="card block" id="{{ el.id }}"><div class="author">
                    <img class="courseAuthorAvatar" src="{%  static 'main/img/user24.png' %}">
                    <div id="authorname">
                        {{ el.author }}
                    </div>
                    <div class="date"> - {{ el.date }}</div>
                </div>
                <div class="lable">
                    <div class="text">
                        <div class="title">{{ el.title }}</div>
                    </div>
                    <div class="categor">
                        <div class="pointBtn" id="l{{ el.category.pk }}"></div>
                        {{ el.category }}
                    </div>
                </div>
                    <div class="desk">{{el.description|truncatewords:50}}</div>

                <div class="tags"></br>
                    {% for tag in tags %}
                        {% if tag.course.pk == el.pk %}
                        <div>
                            {{ tag.tag }}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="stat">
                    <img  src="https://img.icons8.com/material-rounded/24/000000/conference-background-selected.png"/>
                    <div class="usercount">{% for c in count_users %}{% if c.course_id == el.pk %}{{ c.total }}{% endif %}{% endfor %}</div>
                    <div class="go" onclick="window.location.href = '{% url 'course' el.pk %}'">ПОДРОБНЕЕ</div>
                </div>

                {% if user == el.author.user %}
                    <div class = "courseToolbar">
                        <button class = "toolBtn" id="edit" onclick="window.location.href = '{% url 'edit_course' el.pk  %}'">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/pen.png' %}">
                        </button>
                        <button class = "toolBtn" id="coursedelete" onclick="toggle(hidden_content_{{ el.pk }})">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/delete.png' %}">
                        </button>
                    </div>
                {% elif user.is_superuser %}
                    <div class = "courseToolbar">
                        <button class = "toolBtn" id="edit" onclick="window.location.href = '{% url 'edit_course' el.pk  %}'">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/pen.png' %}">
                        </button>
                        <button class = "toolBtn" id="coursedelete" onclick="toggle(hidden_content)_{{ el.pk }}">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/delete.png' %}">
                        </button>
                    </div>
                {% elif el.pk == 23 %}
                    <div class = "courseToolbar">
                        <button class = "toolBtn" id="edit" onclick="window.location.href = '{% url 'edit_course' el.pk  %}'">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/pen.png' %}">
                        </button>
                        <button class = "toolBtn" id="coursedelete" onclick="toggle(hidden_content)_{{ el.pk }}">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/delete.png' %}">
                        </button>
                    </div>
                {% endif %}

            </div>
            <section class="application" id="hidden_content_{{ el.pk }}" style="display:none;">
                <div class="container">
                <h2>Удаление курса!</h2>
                <p>Вы уверены, что хотите удалить курс? </p>
                    <div class="argueBtn">
                      <button id="not" onclick="toggle(hidden_content_{{ el.pk }})">Нет</button>
                      <button id="yes" onclick="window.location.href = '{% url 'delete_course' el.pk %}'">Да</button>
                  </div>
              </div>
            </section>

            <script>
                function toggle(el) {
                  el.style.display = (el.style.display == 'none') ? '' : 'none';
                }
            </script>

            {% endfor %}

            <section class="filter_application" id="hidden_content_filter" style="display:none;">
                <div class="filter_container" id="hidden_content_filter">
                      <input id="inputTagsFilter" holder="Введите теги (через запятую)">
                      <button onclick="toggleFilter(hidden_content_filter)" id="filterBtn">Применить</button>
                </div>
            </section>

            <script>
                function toggleFilter(el) {
                  el.style.display = (el.style.display == 'none') ? '' : 'none';
                  let filterInput = document.querySelector('#inputTagsFilter');
                  let filterBtn = document.querySelector('#filterBtn');
                  filterBtn.addEventListener('click', function() {
                      let inputTags = filterInput.value.split(', ');
                      inputTags.sort();
                      console.log(inputTags)

                      function contains(where, what){
                            for(var i=0; i<what.length; i++){
                                if(where.indexOf(what[i]) == -1) return false;
                            }
                            return true;
                        }

                      let main = document.querySelector('#all');
                      let courses = main.querySelectorAll('.card');
                      for (let course of courses){
                          course.style.display = 'block';
                          let tags = course.querySelector('.tags');
                          let tag = tags.querySelectorAll('div')
                          let courseTags = [];
                          for (t of tag){
                              courseTags.push(t.innerText);
                          }
                          courseTags.sort();

                          if (filterInput.value == ''){
                          course.style.display = 'block';
                          }
                          else if(contains(courseTags, inputTags)){
                              course.style.display = 'block';
                          }
                          else course.style.display = 'none';
                      }

                  });
                }
            </script>
        </div>
        </div>

{% endblock %}

