{% extends 'main/base.html' %}
{% block title %}Главная{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href=" {%  static 'main/css/main.css'%}">
{% endblock %}

{% block content %}

        <div class="List" id="all">
        <h1>Каталог всех курсов</h1>
            {% for el in courses%}
                <div class="card block" id="{{ el.id }}" {% comment %}onclick="window.location.href = '{% url 'course' el.pk %}'"{% endcomment %}><div class="author">
                    <img class="courseAuthorAvatar" src="{%  static 'main/img/user24.png' %}">
                    <div id="authorname">
                        {{ el.author }}
                    </div>
                    <div class="date"> - {{ el.date }}</div>
                </div>
                <div class="lable">
                    <div class="text">
                        <div class="title">{{ el.title }}</div>
                    </div>
                    <div class="categor">
                        <div class="pointBtn" id="l{{ el.category.pk }}"></div>
                        {{ el.category }}
                    </div>
                </div>
                    <div class="desk">{{el.description|truncatewords:50}}</div>

                <div class="tags"></br>
                    {% for tag in el.tags.all %}
                        <div>
                            {{ tag }}
                        </div>
                    {% endfor %}
                </div>

                <div class="stat">
                    <img  src="https://img.icons8.com/material-rounded/24/000000/conference-background-selected.png"/>
                    <div class="usercount"> {{ el.users.all.count }}</div>
                </div>

                {% if user == el.author.user %}
                    <div class = "courseToolbar">
                        <button class = "toolBtn" id="edit" onclick="window.location.href = '{% url 'edit_course' el.pk  %}'">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/pen.png' %}">
                        </button>
                        <button class = "toolBtn" id="coursedelete" onclick="toggle(hidden_content)">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/delete.png' %}">
                        </button>
                    </div>
                {% elif user.is_superuser %}
                    <div class = "courseToolbar">
                        <button class = "toolBtn" id="edit" onclick="window.location.href = '{% url 'edit_course' el.pk  %}'">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/pen.png' %}">
                        </button>
                        <button class = "toolBtn" id="coursedelete" onclick="toggle(hidden_content)">
                            <img class="courseAuthorAvatar" src="{%  static 'main/img/delete.png' %}">
                        </button>
                    </div>
                {% endif %}

            </div>
            <section class="application" id="hidden_content" style="display:none;">
                <div class="container">
                <h2>Удаление курса!</h2>
                <p>Вы уверены, что хотите удалить курс? </p>
                    <div class="argueBtn">
                      <button id="not" onclick="toggle(hidden_content)">Нет</button>
                      <button id="yes" onclick="window.location.href = '{% url 'delete_course' el.pk %}'">Да</button>
                  </div>
              </div>
            </section>

            <script>
                function toggle(el) {
                  el.style.display = (el.style.display == 'none') ? '' : 'none';
                }
            </script>
            {% endfor %}
        </div>
        </div>

{% endblock %}

