{% extends 'main/base.html' %}


{% block style %}
    {% load static %}
    <link rel="stylesheet" href=" {%  static 'main/css/main.css'%}">
{% endblock %}

{% block content %}
    <form action="{% url 'adv_results' %}" method="get" id="edit">
        <h1>Поиск</h1>
        <div class="entry">
            <div class="firstline">
               <input class="sinput" name="title" type="text" placeholder="Название курса">
                <input class="sinput"id="search-author" name="author"  type="text" placeholder="Автор">
            </div>
            <div class="secline">
                <input class="sinput" name="desk"  type="text" placeholder="Описание">
                <input class="sinput" name="tags"  type="text" placeholder="Теги (через запятую)">
            </div>
        <div class="tline">
            <select id="search-select"name="cat" type="text" placeholder="Категория">
                    <option>Категория</option>
                    {% for cat in categories %}
                        <option>{{ cat.title }}</option>
                    {% endfor %}
            </select>
            <button id="search_course_btn" type="submit">Поиск</button>
        </div>
        </div>
    </form>
{% endblock %}