{% extends 'main/base.html' %}


{% block style %}
    {% load static %}
    <link rel="stylesheet" href=" {%  static 'main/css/main.css'%}">
{% endblock %}

{% block content %}
    <form action="{% url 'adv_results' %}" method="get">
        <h1>Поиск</h1>
        <div class="entry">
            <input name="title" type="text" placeholder="Название курса">
            <input name="desk"  type="text" placeholder="Описание">
            <input name="cat" type="text" placeholder="Категория">
            <input name="author"  type="text" placeholder="Автор">
            <button type="submit">Поиск</button>
        </div>
    </form>
{% endblock %}