{% extends 'main/base.html' %}

{% block style %}
    {% load static %}
{% endblock %}

{% block content %}
    <div class="container">
            <div class="row">
                <form action="{% url 'adv_results' %}" method="get" id="edit">
                    <h1>Поиск</h1>
                    <div class="row">
                        <input class="sinput col me-md-2 mb-2" name="title" type="text" placeholder="Название курса">
                        <select class="col-md-4 pe-2 mb-2" id="search-select"name="cat" type="text" placeholder="Категория">
                            <option>Категория</option>
                            {% for cat in categories %}
                                <option>{{ cat.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mb-2">
                        <textarea id="DescriptionTextArea" class="sinput col" name="desk"  type="text" placeholder="Описание"></textarea>
                    </div>
                    <div class="row" >
                        <input class="sinput col me-md-2 mb-2" name="tags"  type="text" placeholder="Теги (через запятую)">
                        <input class="sinput col-md-4 mb-2"id="search-author" name="author"  type="text" placeholder="Автор">
                    </div>
                    <div class="row mb-2 justify-content-end">
                            <button id="search_course_btn" type="submit">Поиск</button>
                    </div>
                </form>
            </div>
    </div>
{% endblock %}

