{% extends 'main/base.html' %}


{% block style %}
    {% load static %}
    <link rel="stylesheet" href=" {%  static 'main/css/main.css'%}">
{% endblock %}

{% block content %}
    {% if user.profile.profile_pic %}
        <img class="courseAuthorAvatarProfileFull" src="{{user.profile.profile_pic.url}}">
    {% else %}
        <img class="courseAuthorAvatarProfileFull" src="{% static 'main/img/user96.png' %}"><br><br>
    {% endif %}

    <h1>{{ user.profile.name }} {{user.profile.surname }}</h1>
{% endblock %}