@import url(design-tokens/colors.css);
@import url(design-tokens/elements.css);
@import url(design-tokens/MainElements.css);
@import url(design-tokens/sizes.css);


#name{
    width: var(--name-input-size);
}

#filtersBtn{
    border: 1px var(--black) Solid;
    background-color: white;
    color: var(--black);
}
#filtersBtn:hover{
    border: 1px var(--lblack) Solid;
    background-color: var(--lwhite);
    color: var(--black);
}

#filters{
    display: none;
    margin-top: 20px;
    width: 100%;
}



